# {{ $docs_ctx.name }}

{{ $files.shared.intro }}

{{ $files.shared.quick-install }}

## Embed at compile time

{{ $files.shared.embed-example }}

{{ $files.shared.inline-macro }}

{{ $files.shared.runtime }}

{{ $files.shared.modes }}

{{ $files.local.overview }}

{{ $files.shared.build-language }}

{{ $files.local.usage }}

{{ $files.local.dependency }}

{{ $files.generated.command-reference }}

{{ $files.generated.command-body }}

{{ $files.shared.footer }}
